body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section.one .features {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 10px;
    text-align: center;
}

.square {
    outline: 3px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.two {
    flex-direction: column;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}