body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }

  .links {
    
  }

  .links ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  