body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    display: flex;
    justify-content: center;
}

.block {
    display: flex;
}